/*font-family: 'Jim Nightshade', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Delius Unicase', cursive;*/

html, body {
    height: 100%;
}

html .container {
  min-height: 100%;
}

body {
  background-image: url('/assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: black;
}

.header {
  text-align: center;
  background-color: rgb(32, 19, 15);
  color: #FFF;
  padding: 20px;
}

.header h1 {
  font-family: monospace;
  font-size: 80px;
}

.container {
  background-color: rgba(175, 183, 187, 0.7);
  padding: 30px;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(175, 183, 187, 0.7);
}


a {
  color: rgb(166, 10, 34);
  font-family: monospace;
  font-size: 30px;
}

a:hover {
  color: rgb(166, 70, 8);
}

.header a:hover {
  font-size: 30px;
  color: rgb(245, 94, 67);
}

h2 {
font-family: monospace;
color: rgb(54, 3, 3);
}

h3 {
  color: rgb(20, 22, 19);
  font-family: 'Delius Unicase', cursive;
}

p {
  color: rgb(66, 62, 64);
  font-family: 'Poppins', sans-serif;rgb(11, 11, 10)
}
