<div class= "container">
  <header class= "jumbotron">
    <h1>answerMe!</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>Copyright (c) 2017 Dan Lauby Holder All Rights Reserved.</p>
  </footer>
</div>
